body{
    margin: 0;
    font-family: fira sans;
    font-size: 20px;
    color: rgb(16, 118, 144);
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

h1{
    font-family:chromate;
}
h3{
  font-family:chromate;
  opacity: 70%;
  font-weight: lighter;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


.wcu-text:nth-child(2){
  transition-delay: 200ms;
}

.wcu-text:nth-child(3){
  transition-delay: 400ms;
}

.wcu-text:nth-child(4){
  transition-delay: 600ms;
}

@media(prefers-reduced-motion){
  .hidden {
    transition: none;
  }
}
.coming-soon{
  margin-top: 350px;
  margin-bottom: 350px;
  display: grid;
  grid-template-rows: 100px 40px;
  align-items: center;
  text-align: center;
  width: 100%;
}