


.header-top{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 0px 40px rgba(1, 87, 82, 0.7);
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
    }
  
  .logo-img{
    width: 70px;
    margin: 6px;

  }

  
  .logo-rs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.5s;
  }

  .header-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .h-button{
    border: none;
    padding: 21px;
    font-size: 24px;
    margin-left: 12px;
    font-family: fira sans;
    background: transparent;
    color: rgba(23,90,98,255);
    cursor: pointer;
    transition:0.2s;
    
    
  }

  .h-button:hover{
    color: white;
    background-color: rgba(1, 87, 82,1)
    
  }


.logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
}